html {
   height: 100%;
}
body {
    text-align: center;
    background: linear-gradient(rgb(196, 240, 210), rgb(85, 104, 85));
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
h1, p, div, figure {
    margin: 0;
}
input[type='number'] {
    text-align: center; 
    font-size: 25px;
    width: 200px;
}
button {
    font-size: 25px;
}

.hide-this-shit {
    display:none;
}

.money {
    display: inline-block;
    margin: auto;
    background: white;
    color: black;   
    min-width: 200px;   
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.dealer-score, .player-score {
    width: 70px;
    height: 120px;
    background: white;
    color: black;
    padding: 20px;
    margin-top: 10px;
}

.deck {
    float: left;
    width: 90px;
    height: 150px;
    background: gray;
    
    margin: 30px;
}

.blackjack-table {
    color: white;
    background: rgb(55, 55, 55);
    border: 1px solid black;
    min-height: 400px;
}

.dealer-hand, .player-hand {
    display: flex;
    border: 1px solid white;
    min-height: 150px;   
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
}
.black {
    color: black;
}
.red {
    color: red;
}
.card {
    width: 70px;
    height: 120px;
    margin: 5px;
    background: white;
    padding: 20px;
}
