html {
   height: 100%;
}
body {
    text-align: center;
    background: rgb(24, 24, 24);
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 25px;
}
h1, p, div, figure {
    margin: 0;
}
input[type='number'] {
    text-align: center; 
    font-size: 25px;
    width: 150px;
    border-radius: 10px;
}
button {
    background-color: rgb(108, 155, 211);
    color: white;
    font-size: 22px;
    border-radius: 10px;
    min-width: 100px;
}
button:hover {
    background: rgb(194, 71, 49);
    cursor: pointer;
}
.faded {
    opacity: 0.3;
}
.heading {
    padding: 10px;
    font-size: 62px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(230, 151, 32);
    background-image: url('../images/blackjack.jpg');
    background-size: 100% 100%;
}
.blackjack-table {
    display: flex;
    color: white;
    background: radial-gradient(rgb(114, 162, 114), rgb(33, 33, 33));
    border-radius: 20%;
    border: 7px dashed gray;
    padding: 5px;
    margin-top: 0px; 
}
.hide-this-shit {
    display:none;
}
.money {
    display: inline-block;
    margin: auto;
    background: white;
    color: black;   
    min-width: 200px;   
    border-radius: 10px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
.table-section-1, .table-section-2, .table-section-3 {
    width: 33.3%
}
.table-section-1 {
    padding-top:105px;
}
.table-section-3 {
    padding-top: 70px;
    font-size: 20px;
}
.table-section-3 h1, .table-section-3 button, .table-section-3 label, .table-section-3 input {
    margin: 10px;
}
.dealer-score, .player-score {
    background: white;
    color: black;
}
.deck {
    width: 100px;
    height: 155px;
    margin: auto;
    background-image: url('../images/deck.jpg');
    background-size: 100% 100%;
    font-size: 40px;
    color: black;
    border: 1px solid rgb(94, 94, 94);
    box-shadow: 3px 3px 8px 2px white;
    border-radius: 10px;
}
.dealer-hand, .player-hand {
    display: flex;
    background: radial-gradient(rgb(42, 128, 61), rgb(36, 99, 33));
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    min-height: 120px;   
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.black {
    color: black;
}
.red {
    color: rgb(254, 82, 82);
}
.green {
    color: rgb(126, 255, 126);
}
.card {
    position: relative;
    min-width: 20%;
    min-height: 90px;
    margin: 1px;
    background: white;
    padding-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 27px;
}
.back-of-card {
    position: relative;
    min-width: 22%;
    min-height: 100px;
    margin: 1px;
    background-image: url('../images/deck.jpg');
    background-size: 100% 100%;
    padding-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.game-message {
    text-align: center;
    background-color: rgb(24, 24, 24);    
    margin: 0px;
    font-size: 19px;
}
#bet-amount {
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
    color: black;
    min-width: 50px;
}
.instructions {
    font-size: 18px;
}
/* &#x2660 spade
&#x2666 diamond
&#x2663 club
&#x2665 heart */
.cardDrop {
    animation: cardDrop 1.5s;
    -moz-animation: cardDrop 1.5s;
    -webkit-animation: cardDrop 1.5s;
    -o-animation: cardDrop 1.5s;
}
@keyframes cardDrop {
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}
@-moz-keyframes cardDrop { /* Firefox */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}
@-webkit-keyframes cardDrop { /* Safari and Chrome */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}
@-o-keyframes cardDrop { /* Opera */
    from {
        top: -650px;
    }
    to {
        top: 0px;
    }
}

@media screen and (min-width: 1500px) {
   body {
    width: 1500px;
    margin: auto;
   }
}
@media screen and (max-width: 910px) {
    .blackjack-table {
        display: block;
    }
    .table-section-1, .table-section-2, .table-section-3 {
        width: 100%
    }
    .table-section-1 {
        padding-top: 0px;
    }
    .table-section-2 {
        margin-top: 15px;
    }
    .table-section-3 {
        padding-top: 0px;
    }
}