
.chips {
    margin: 5px;
    text-align: center;
  }
  .pokerchip {
    margin: 5px; /* Add some margin to separate chips */
    position: relative;
    display: inline-flex; /* Use flex to center content vertically and horizontally */
    align-items: center;
    justify-content: center;
    font-size: 25px; /* Slightly reduce font size */
    width: 50px; /* Slightly increase chip size */
    height: 50px; /* Slightly increase chip size */
    background-color: #fff; /* Set the background color for the chip */
    border: 3px dashed #ffffff; /* Use a solid border instead of dashed */
    border-radius: 50%;
    color: #000; /* Set text color */
    font-weight: bold; /* Make the text bold */
  }
  
  .pokerchip:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .whitechip {
    color: black;
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #dddddd 0, #dddddd 97.4304px, #fff 97.4304px, #fff 113.4304px, #dddddd 113.4304px, #dddddd 151px);
  }
  .redchip {
      color: white;
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #800000 0, #800000 97.4304px, #fff 97.4304px, #fff 113.4304px, #800000 113.4304px, #800000 151px);
  }
  .bluechip {
      color: white;
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #000099 0, #000099 97.4304px, #fff 97.4304px, #fff 113.4304px, #000099 113.4304px, #000099 151px);
  }
  .greenchip {
      color: white;
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #008000 0, #008000 97.4304px, #fff 97.4304px, #fff 113.4304px, #008000 113.4304px, #008000 151px);
  }